.container{
    display: flex;
    gap: 30px;
    background-color: black;
    
    li{
        position: relative;
        justify-content: center;
        content: counter(name);
        text-align: center;
        border-radius: 30px;
        border-color: red;
        list-style: none;
        width: 50px;
        height: 70px;
        color:black;
        background-color: white;
        
    }
    /* #red{
        position: relative;
        top: 10px;
        left: 200px;
        background-color: red;
        margin-right: 20px red;
    }
    #green{
        background-color: green;
        border-radius: 50px;
    }
    #yel{
        background-color: yellow;
        margin-left: ;
    } */
     #name{
        /* position: relative;
        left: 500px; */
        position: absolute;
        
        bottom: 100px;
     }
    
}