* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(235, 235, 185);
}

.container {

    .navigator {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;

        li {
            list-style: none;
            border: 3px solid red;
            border-radius: 25px;
            padding: 5px 10px;
            background-color: transparent;
        }

        #p2 {
            color: orange;
        }

    }

    .bar {
        display: inline-block;

        img {
            height: 30px;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235, 235, 185);
}

/* Navigator (TOP ROW) */
/* .navigator{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
} */

/* Style list items */
/* .navigator li{
    list-style: none;
    border: 3px solid red;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: transparent;
} */

/* Orange text */
/* #p2{
    color: orange;
} */

/* Bar (SECOND ROW) */
/* .bar{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
} */

/* Logo */
/* .bar img{
    height: 30px;
} */

/* Links */
/* .bar a{
    text-decoration: none;
    color: black;
} */
*/